.horizontal-border {
    border-bottom: 1px solid #00000080;
}

.horizontal-border:last-of-type {
    border-bottom: 1px solid transparent;
}



@media (min-width: 640px) and (max-width: 1023px) {
    .horizontal-border>div {
        border-right: 1px solid #00000080;
    }

    .horizontal-border:nth-of-type(2n)>div {
        border-right: 1px solid transparent;
    }

    .horizontal-border:last-child>div {
        border-right: 1px solid transparent;
    }

    [data-key2="0"].horizontal-border:nth-last-of-type(2) {
        border-bottom: 1px solid transparent;
    }

    [data-key2="1"].horizontal-border:nth-last-of-type(1) {
        border-bottom: 1px solid transparent;
    }
}

@media (min-width: 1024px) {
    .vertical-border {
        border-right: 1px solid #00000080;
    }

    .horizontal-border:nth-of-type(3n)>div {
        border-right: 1px solid transparent;
    }

    .horizontal-border:last-child>div {
        border-right: 1px solid transparent;
    }

    [data-key3="0"].horizontal-border:nth-last-of-type(3),
    [data-key3="0"].horizontal-border:nth-last-of-type(2),
    [data-key3="0"].horizontal-border:nth-last-of-type(1) {
        border-bottom: 1px solid transparent;
    }

    [data-key3="1"].horizontal-border:nth-last-of-type(1) {
        border-bottom: 1px solid transparent;
    }

    [data-key3="2"].horizontal-border:nth-last-of-type(2) {
        border-bottom: 1px solid transparent;
    }

}